---
page_title: "Provider: Appclacks"
description: |-
  The Appclacks provider allows the use of the Appclacks monitoring platform within Terraform configurations.
---

# Appclacks Provider

The "Appclacks" provider allows the use of the [Appclacks platform](https://appclacks.com) within Terraform configurations.

Appclacks is an open source platform dedicated to observability.
For example, this provider allows  users to create, manage and run various health checks to monitor the health of websites and infrastructures (blackbox monitoring)

The prober used by Appclacks named Cabourotte is a free software that you can host on your private infrastructure and plug on the Appclacks API to autoconfigure it.

More information about Appclacks can be found in the [official documentation](https://www.doc.appclacks.com/).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

## Authentification and Configuration

Configuration for the Appclacks provider can be provided in the following ways:

1. Parameters in the provider configuration
2. Environment variables

For obtaining an Appclacks API token, please refer to the [Appclacks documentation](https://www.doc.appclacks.com/getting-started/#authentication).

### Provider Configuration

!> **Warning:** Hard-coded credentials are not recommended in any Terraform
configuration and risks secret leakage should this file ever be committed to a
public version control system.

Credentials can be provided by adding an `api_endpoint`, `username`, and `password`, to the `appclacks` provider block.

Usage:

```terraform
provider "appclacks" {
  api_endpoint = "https://appclacks.com"
  username = "my-user"
  password = "my-password"
}
```

### Environment Variables

Credentials can also be provided by setting the `APPCLACKS_API_ENDPOINT`, `APPCLACKS_USERNAME`, and optionally `APPCLACKS_PASSWORD` environment variables.

For example:

```terraform
provider "appclacks" {}
```

```bash
export APPCLACKS_API_ENDPOINT="https://appclacks.com"
export APPCLACKS_USERNAME="my-user"
export APPCLACKS_PASSWORD="password"
terraform plan
```