---
page_title: "Provider: Appclacks"
description: |-
  The Appclacks provider allows the use of the Appclacks cloud monitoring platform within Terraform configurations.
---

# Appclacks Provider

The "Appclacks" provider allows the use of the Appclacks cloud monitoring platform within Terraform configurations.

Appclacks is a cloud monitoring platform allowing users to create, manage and run various health checks to monitor the health of websites and infrastructures.

Appclacks can monitor public endpoints by executing configured health checks on them from multiple point of presences. But unlike alternatives,  Appclacks can also be used to monitor private infrastructures.

The prober used by Appclacks named Cabourotte is a free software that you can host on your private infrastructure and plug on the Appclacks API to autoconfigure it.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

## Authentification and Configuration

Configuration for the Appclacks provider can be provided in the following ways:

1. Parameters in the provider configuration
2. Environment variables

For obtaining an Appclacks API token, please refer to the [Appclacks documentation](https://www.doc.appclacks.com/getting-started/#authentication).

### Provider Configuration

!> **Warning:** Hard-coded credentials are not recommended in any Terraform
configuration and risks secret leakage should this file ever be committed to a
public version control system.

Credentials can be provided by adding an `organization_id`, `token`, and optionally `api_url`, to the `appclacks` provider block.

Usage:

```terraform
provider "appclacks" {
  organization_id = "my-organization_id"
  token = "my-token"
}
```

### Environment Variables

Credentials can also be provided by setting the `APPCLACKS_ORGANIZATION_ID`, `APPCLACKS_TOKEN`, and optionally `APPCLACKS_API_URL` environment variables.

For example:

```terraform
provider "appclacks" {}
```

```bash
export APPCLACKS_ORGANIZATION_ID="my-organization_id"
export APPCLACKS_TOKEN="my-token"
terraform plan
```

## Appclacks Configuration Reference

| Name             | Description               |  Type  |            Default            | Required |
| ---------------- | ------------------------- | :----: | :---------------------------: | :------: |
| api\_url         | Appclacks API URL         | string | `"https://api.appclacks.com"` |    no    |
| organization\_id | Appclacks organization ID | string |              n/a              |   yes    |
| token            | Appclacks API token       | string |              n/a              |   yes    |
